* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

nav, footer {
  padding: 1% 0;
  background-color: #ddd;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 2px 0;
  display: flex;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

hr {
  width: 95%;
  height: 8px;
  background:
      -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
      -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
      -webkit-linear-gradient(left, #E3733F, #E3733F);
  background-size: 25px 15px, 100% 100%, 100% 100%;
}

button {
    width: 200px;
    margin: 10px auto 0px auto;
    padding: 9px 32px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);   
}

button:active {
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

a {
  margin: 10px 35px 20px 35px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

.about-me span, .project span {
  color: #E3733F;
  font-size: 30px;
}

.contact-links span {
  color: #E3733F;
}

.contact-links a {
  margin: 0 auto;
}

.references {
  text-align: center;
  margin: 0 auto;
}

.references a {
  width: 30px;
  height: 30px;
}

.references-inf {
  display: inline-block;
}

.project-links{
  display: flex;
}

.footer-links{
  display: flex; 
}

.selected {
  margin-left: 30px;
}

.blue {
  background:
        -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
        -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
        -webkit-linear-gradient(left, #3E95B6, #3E95B6);
    background-size: 75px 42px, 100% 100%, 100% 100%;
}

.blue:hover, .blue:focus {
  background:
        -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
        -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
        -webkit-linear-gradient(left, #447B93, #447B93);
  background-size: 75px 42px, 100% 100%, 100% 100%;
}

.blue-dark {
  background-color: #193D53;
}

.orange {
  background-color: #E3733F;
}

.main-img, .menu-bar {
  width: 50%;
}

.project-main {
  display: flex;
  width: 100%;
}

.project-desc {
  margin-top: 40px;
  width: 30%;
}

.project-img {
  margin: 0 auto;
  width: 70%;
}

.project-img img {
  width: 80%;
}

.bt-thumbnail {
  color: black;
  background-color: rgba(62, 149, 182, 0.3);
  border-color: #3E95B6;
  -webkit-animation-name: fadeingb;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.bt-thumbnail:hover, .bt-thumbnail:focus {
  background-color: rgba(62, 149, 182, 0.5);
  border-color: #3E95B6;
  -webkit-animation-name: none;
}

.logo-img {
  margin: 15px auto;
  max-width: 40%;
}

.project, .references {
  margin: 10px 15px 0 15px;
}

.panel {
  margin: 10px 15px 0 15px;
  background-color: rgba(230, 230, 230, 0.7);
  box-shadow: 2px 2px 15px 0px gray;
}

.panel, .project-thumbnail {
  position: relative;
  -webkit-animation-name: slide; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: slide;
  animation-duration: 1s;
}

.thumbnail {
  height: 100px;
  width: 100px
}

.tech-imgs {
  display: block;
  margin: 0 auto;
}

.tech-imgs img {
  margin: 0 10px 0 10px;
  max-width:230px;
  max-height:55px;
  width: auto;
  height: auto;
}


.icon {
  max-height: 50px;
  max-width: 50px;
  min-height: 40px;
  min-width: 40px;
}

.about-me .clarify {
  color: gray;
  font-size: 14px;
}

.references span {
  margin: 10px 20px 10px 20px;
}

.matx{ 
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  color: #3E95B6; 
  width: 100%; 
  height: 100%; 
  text-shadow: rgba(255, 255, 255, .8) 0px 0px 4px; 
}  

.matx div{ 
  position: absolute; 
  top: 0; 
  text-transform: lowercase; 
  -webkit-transform:rotate(90deg); 
  -webkit-animation-name: falling, fadeing; 
  -webkit-animation-timing-function: ease-out; 
  -webkit-animation-iteration-count: infinite; 
  -webkit-animation-direction: normal; 
} 

.t1{ 
  -webkit-animation-duration: 15s; 
  } 

.t2{ 
  -webkit-animation-duration: 8s; 
  } 

.t3{ 
  -webkit-animation-duration: 18s; 
  } 

.t4{ 
  -webkit-animation-duration: 11s; 
  } 

.t5{ 
  -webkit-animation-duration: 20s; 
} 

@media screen and (max-width: 700px) {
  header, .project-links{
    flex-direction: column;
  }

  .main-img, .menu-bar {
    width: 100%;
  }

  a {
    width: 80%;
  }

  .footer-links a {
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  .project-main{
    flex-direction: column;
  }

  .project-img, .project-desc {
    margin-top: 0;
    width: 100%;
  }


}
